[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "plugins/dotbot-if"]
	path = plugins/dotbot-if
	url = https://github.com/mikybars/dotbot-if.git
